@mixin adaptive-font-size($maxLayoutWidth: 670, $pcFontSize, $mobileFontSize, $minLayoutWidth: 360) {
    $addSize: $pcFontSize - $mobileFontSize;
    $addMobileSize: $addSize + $addSize * 0.7;
    @media screen and (max-width: 763px) {
        font-size: calc(#{$mobileFontSize + px} + #{$addMobileSize} * ((100vw - #{$minLayoutWidth + px}) / #{$maxLayoutWidth}));
    }

    // @media (min-width: 767px) {
    //     font-size: calc(#{$mobileFontSize + px} + #{$addSize} * (100vw / #{$maxLayoutWidth}));
    // }
}