//colors
$clr-base: #fff;
$clr-primary: #565656;
$clr-primary-lt: #666666;
$clr-primary-ltr: #a9a9a9;
$clr-primary-dk: #4b4a4a;
$clr-primary-dkr: #181818;
$clr-lt: #8c8a8a;
$clr-dk: #9b9b9b;

//font-family
$ff-base: 'Raleway', sans-serif;

//font size
$fs-base: 18px;
$fs-big: 60px;
$fs-mid: 28px;
$fs-sml: 16px;

//font weight
$fw-base: 200;
$fw-big: 900;
$fw-mid: 600;
$fw-sml: 400;
$fw-smlr: 100;

//border width
$bw-thic: 3px;
$bw-mid: 2px;
$bw-thin: 1px;

//box shadow
$bsh-base:  10px 10px 40px -1px rgba(0, 0, 0, 0.23);