.aside {
    flex-basis: 40%;
    padding-top: 25px;

    @media screen and (max-width: 740px) {
        &{
            padding-top: 7px; 
        }
    }
}

.aside__sections {

    @media screen and (max-width: 740px) {
        & {
            display: flex;
            align-items: start;
            justify-content: space-between; 
        }
    }

    @media screen and (max-width: 550px) {
        &{
            flex-wrap: wrap; 
            row-gap: 0;
            column-gap: 10px;
            justify-content: center;
            margin-bottom: 10px;
        }
    }
}

.contacts__list {
    @extend %flex-list;

    @media screen and (max-width: 740px) {
        &{
            display: none; 
        }
    }
}

.contacts__ico {
    box-sizing: content-box;
    width: 16px;
    height: 16px;
    padding: 0 10px;
}

.contacts__link {
    color: $clr-primary;
    text-decoration: none;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            cursor: pointer;
            color: $clr-primary-dkr;
            font-weight: $fw-sml;
        }
    }
}

.education__list {

    @media screen and (max-width: 740px) {
        &{
            display: none; 
        }
    }
}

.entity__place {
    color: $clr-lt;
    font-weight: $fw-sml;
    margin-bottom: 10px;
}

.entity__degrees {
    @extend %flex-list;
    padding-left: 10px;
}

.entity__degree {

    &-years {
        color: $clr-lt;
    }
}

.skills__list {
    @extend %flex-list;

    @media screen and (max-width: 740px) {
        &{
            display: none; 
        }
    }
}

.languages__list {
    @extend %flex-list;

    @media screen and (max-width: 740px) {
        &{
            display: none; 
        }
    }
}

.languages__language-name {
    text-transform: capitalize;
}