.aside {
    flex-basis: 40%;
    padding-top: 25px;
}

.contacts__list {
    @extend %flex-list;
}

.contacts__ico {
    box-sizing: content-box;
    width: 16px;
    height: 16px;
    padding: 0 10px;
}

.contacts__link {
    color: $clr-primary;
    text-decoration: none;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            cursor: pointer;
            color: $clr-primary-dkr;
            font-weight: $fw-sml;
        }
    }
}

.entity__place {
    color: $clr-lt;
    font-weight: $fw-sml;
    margin-bottom: 10px;
}

.entity__degrees {
    @extend %flex-list;
    padding-left: 10px;
}

.entity__degree {

    &-years {
        color: $clr-lt;
    }
}

.skills__list {
    @extend %flex-list;
}

.languages__list {
    @extend %flex-list;
}

.languages__language-name {
    text-transform: capitalize;
}