.wrap {
    @extend %side-padding;

    @media screen and (max-width: 550px) {
        padding: 0 20px;
    }
}

.hero {
    @extend %flex-horizon;
    justify-content: space-between;
    align-items: end;
    padding: 0 20px 20px;
    border-bottom: $bw-thic solid $clr-primary-ltr;
    transition: 0.4s ease;

    @media screen and (max-width: 550px) {
        justify-content: center;
    }
}

.hero__desc-block {
    @extend %flex-vertical;
    margin-right: 20px;
    padding-top: 20px;
    transition: 0.4s ease;

    @media screen and (max-width: 550px) {
        text-align: center;
    }
}

.person-name {
    font-size: $fs-big;
    line-height: 85%;
    margin-bottom: 3%;

    &__surname {
        position: relative;
        color: $clr-lt;
        left: -1%;
        font-weight: $fw-sml;
    }

    &__name {
        font-weight: $fw-big;
    }

    @media screen and (max-width: 670px) {
        @include adaptive-font-size($maxLayoutWidth: 670, $pcFontSize: 60, $mobileFontSize: 40, $minLayoutWidth: 360)
    }
}

.person-position {
    font-size: $fs-mid;
    font-weight: $fw-smlr;

    @media screen and (max-width: 670px) {
        @include adaptive-font-size($maxLayoutWidth: 670, $pcFontSize: 28, $mobileFontSize: 22, $minLayoutWidth: 360)
    }
}

.hero__image-block {
    @extend %flex-vertical;
    justify-content: end;
    transition: 0.4s ease-in-out;

    @media screen and (max-width: 550px) {
        transform: scale(0);
        display: none;
    }
}

.person-photo {
    max-width: 165px;
    max-height: 165px;
    border: $bw-thic solid $clr-primary-ltr;
    border-radius: 50%;
    overflow: hidden;
}

.person-photo__img {
    object-fit: cover;
    position: relative;
    transform: scale(140%);
}