.main {
    flex-basis: 60%;
    border-left: 2px solid $clr-dk;
    padding: 30px 0 0 30px;

    @media screen and (max-width: 740px) {
        &{
            border: none;
            padding: 30px 0 0 0; 
        }
    }

    @media screen and (max-width: 570px) {
        &{
            padding: 0 0 0 0; 
        }
    }
}

.about__heading {
    margin-bottom: 10px;
    font-weight: 700;
    color: #656565;

    @media screen and (max-width: 670px) {
        @include adaptive-font-size($maxLayoutWidth: 670, $pcFontSize: 27, $mobileFontSize: 20, $minLayoutWidth: 360)
    }
}

.about__desc {
    margin-bottom: 20px;
    line-height: 135%;
    text-align: justify;

    @media screen and (max-width: 670px) {
        @include adaptive-font-size($maxLayoutWidth: 670, $pcFontSize: 18, $mobileFontSize: 16, $minLayoutWidth: 360)
    }
}